{% extends 'base.html' %}
  {% block hero-unit%}
          <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1> This is Us... Movie Reviewers.</h1>
        <p>We seek to improve the usefulness of film reviews by compiling them and assigning a score to each in order to gauge the general reception a film receives. We review movies  with ratings such as "rent it" or "matinee" to tell the viewer in what setting to watch the film rather than a numerical score. We even go so far as to recommend the number of beers you will need to enjoy a movie.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
     {% endblock %}

{% block content %}
<div class= 'small-12' style= 'text-align: center'>
<h2>Jesus is Coming ; Look BUSY!</h2>
</div> 
{% endblock %}